
.homepage{
    height: 30vh;
        width: 90vw;
        background-color: rgb(250, 25, 9);
        margin: 6vh 5vw 0 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        border-radius: 20px;
        color:floralwhite;
}
.flex-wrapper {
    display: flex;
    overflow-x: auto;
}
.flex-wrapper::-webkit-scrollbar{
    width:0;
}
.flex-wrapper .item{
    border: 1px solid black;
    margin: 0 1px 0 0;
    display: inline-block;
}    
