.homepage{
    height: 30vh;
        width: 90vw;
        background-color: #8909d9;
        margin: 6vh 5vw 0 4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        border-radius: 20px;
        color:floralwhite;
}
.colourLight{
    background-color: #743dcc;
    border-radius: 6px;
}
#buyItem, #buyShop{
    border:0;
    background-color: #f5edf7;
}
.navbar-dark {
    background-color: #9b13d1;
}
.button {
    background-color:#ab78bf;
}
.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 0 0px;
}
.listItem{
    background-color:#ab78bf ;
}